---
import Layout from "../layouts/Layout.astro";
import { articles } from "../common/articles";
import NewArticle from "../components/NewArticle.astro";
---

<Layout>
  <div class="xl:grid xl:grid-cols-2">
    {articles.map((article) => <NewArticle {...article} />)}
  </div>
</Layout>
