---
import NewArticle from "./NewArticle.astro";
import { articles } from "../common/articles"
interface props {
  styles?: string;
}
const { styles } = Astro.props;

---

<section class={`bg-very-dark-blue text-off-white py-4 px-6 mb-16 ${styles}`}>
  <h1 class="text-soft-orange font-bold text-[2rem]">New</h1>
  {
    articles.slice(0,3).map((article) => (
      <NewArticle {...article}/>
    ))
  }
</section>
