---
interface props {
  slug: string;
  title: string;
  description: string;
}
const { title, description, slug } = Astro.props;
---

<article class="border-b border-y-grayish-blue py-8 xl:py-6 last:border-none">
  <a
    href={`/new/${slug}`}
    transition:name={title}
    class="font-extrabold text-xl inline-block mb-2 cursor-pointer hover:text-soft-orange"
  >
    {title}
  </a>
  <p class="text-grayish-blue text-[0.9rem]">{description}</p>
</article>
