---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import { ClientRouter } from "astro:transitions"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Newsletter</title>
  </head>
  <body class="items-center font-Inter">
    <ClientRouter />
    <main class="my-8 p-6 xl:w-[1112px]">
      <Navbar class="z-10" />
      <slot /> 
    </main>
  </body>
</html>
